---
import Person1 from "../../../assets/images/testimonial/person-01.jpg";
import Person2 from "../../../assets/images/testimonial/person-02.png";

const testimonialData = [
  {
    name: "Emily C",
    rating: 5,
    handle: "@emilyc",
    image: Person1,
    description:
      "Trabalhar com o Alan foi um verdadeiro prazer! Ele pegou minhas ideias vagas e as transformou em um logotipo incrível que representa perfeitamente minha marca.",
  },

  {
    name: "Paul N",
    rating: 5,
    handle: "@pauln",
    image: Person2,
    description:
      "Eu estava tendo dificuldade em encontrar um designer que conseguisse capturar a essência da minha marca até conhecer o Alan. O design dele foi exatamente o que eu procurava.",
  },
];
---

<div class="capsule">
  <section class="testimonial-section pt-section pb-section">
    <div class="content-wrapper">
      <h2>O que as pessoas estão dizendo</h2>

      <div class="testimonial-section__grid">
        {
          testimonialData.map((data) => (
            <div class="testimonial">
              <div class="rating" aria-label={`${data.rating} stars`}>
                {Array(data.rating)
                  .fill(0)
                  .map((_) => (
                    <i class="fas fa-star star-active" aria-hidden="true" />
                  ))}
              </div>

              <p class="description">{data.description}</p>

              <div class="person">
                <img
                  src={data.image.src}
                  width={data.image.width}
                  height={data.image.height}
                  alt={data.name}
                  loading="lazy"
                  decoding="async"
                />

                <div class="name">
                  <h4>{data.name}</h4>
                  <p>{data.handle}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</div>

<style>
  .capsule {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .pt-section {
    padding-top: 1rem;
  }

  .pb-section {
    padding-bottom: 7rem;
  }

  .testimonial-section__grid {
    background:
      linear-gradient(rgba(17, 24, 39, 0.85), rgba(17, 24, 39, 0.85)),
      url("../../../assets/images/testimonial/bg.png");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    display: grid;
    gap: 2rem;
  }

  .star-active {
    color: var(--primary-clr-400) !important;
  }

  .rating {
    margin-bottom: 1rem;
  }

  .rating i {
    margin-right: 0.3rem;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  img {
    --size: 40px;

    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
  }

  .person {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .name p {
    color: var(--secondary-clr-200);
  }

  @media (width >= 768px) {
    .testimonial-section__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      padding: 4rem 2.5rem;
    }
  }
</style>
